doctype html
include _variables.pug  
html(lang=lang)
    head
        meta(charset="utf-8")
        meta(content="IE=edge" http-equiv="X-UA-Compatible")
        meta(content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport")
        title #{title}
        meta(content="index,follow,snippet,archive" name="robots")
        meta(content=metaDescription name="description")
        meta(content=metaKeywords lang="cs" name="keywords")
        meta(content=metaAuthor name="author")

        link(rel="canonical" href=metaURL)
        meta(property="og:locale" content="cs_CZ")
        meta(property="og:type" content="website")
        meta(property="og:title" content=title)
        meta(property="og:description" content=metaDescription)
        meta(property="og:url" content=metaURL)
        meta(property="og:site_name" content=metaSitename)
        meta(name="twitter:card" content="summary")
        meta(name="twitter:site" content=metaTwitterName)
        meta(name="twitter:title" content=title)
        meta(name="twitter:description" content=metaDescription)
        meta(name="twitter:image" content=metaTwitterImg)
        include _css-include.pug  
    body
        include _nav-alt.pug
        section.hero.post__image-container
            .container.hero__container
                img.hero__bg.post__featured-image(src=URLbase+"img/bg-hero.jpg")
                h1.hero__title Komplexní řešení v oblasti měření a regulace
                p.hero__text Vzhledem k vysoké odborné úrovni a dlouholeté praxi našich pracovníků můžeme nabízet služby na profesionální úrovni jak v oblasti poradenské tak realizační.
                .hero__btns
                    a.btn.hero__btn(href="#") Produkty v eshopu
                    a.btn.btn-white.hero__btn(href="#") Kontakty

        section.benefits
            .container.benefits__container
                h2.benefits__title Poskytujeme služby
                .row.benefits__row
                    .col-12.col-sm-6.col-md-4.benefits__col
                        .benefits__single
                            .benefits__img-wrap
                                img.benefits__img(src=URLbase+"images/benefits-symbol.svg")
                            p.benefits__text Vývoj a výroba elektronických zařízení
                    .col-12.col-sm-6.col-md-4.benefits__col
                        .benefits__single
                            .benefits__img-wrap
                                img.benefits__img(src=URLbase+"images/benefits-symbol.svg")
                            p.benefits__text Vývoj a výroba měřicí a regulační techniky
                    .col-12.col-sm-6.col-md-4.benefits__col
                        .benefits__single
                            .benefits__img-wrap
                                img.benefits__img(src=URLbase+"images/benefits-symbol.svg")
                            p.benefits__text Vývoj a dodávky software
                    .col-12.col-sm-6.col-md-4.benefits__col
                        .benefits__single
                            .benefits__img-wrap
                                img.benefits__img(src=URLbase+"images/benefits-symbol.svg")
                            p.benefits__text Měření a regulace
                    .col-12.col-sm-6.col-md-4.benefits__col
                        .benefits__single
                            .benefits__img-wrap
                                img.benefits__img(src=URLbase+"images/benefits-symbol.svg")
                            p.benefits__text Automatizace
                    .col-12.col-sm-6.col-md-4.benefits__col
                        .benefits__single
                            .benefits__img-wrap
                                img.benefits__img(src=URLbase+"images/benefits-symbol.svg")
                            p.benefits__text Monitoring, vizualizace
                    .col-12.col-sm-6.col-md-4.benefits__col
                        .benefits__single
                            .benefits__img-wrap
                                img.benefits__img(src=URLbase+"images/benefits-symbol.svg")
                            p.benefits__text Ekonomické bilance
                    .col-12.col-sm-6.col-md-4.benefits__col
                        .benefits__single
                            .benefits__img-wrap
                                img.benefits__img(src=URLbase+"images/benefits-symbol.svg")
                            p.benefits__text Projektování, poradenská činnost
                    .col-12.col-sm-6.col-md-4.benefits__col
                        .benefits__single
                            .benefits__img-wrap
                                img.benefits__img(src=URLbase+"images/benefits-symbol.svg")
                            p.benefits__text Dodávky, montáž, servis


        section.index-products
            .container  
                h2.index-products__title Produkty z našeho eshopu
                .filter-sort
                    ul.nav.nav-tabs
                        li.nav-item
                            a.nav-link.active(id="1-index-tab" data-toggle="tab" href="#1-index" role="tab" aria-controls="1-index" aria-selected="true") Akční nabídka
                        li.nav-item
                            a.nav-link(id="2-index-tab" data-toggle="tab" href="#2-index" role="tab" aria-controls="2-index" aria-selected="false") Doporučené
                        li.nav-item
                            a.nav-link(id="3-index-tab" data-toggle="tab" href="#3-index" role="tab" aria-controls="3-index" aria-selected="false") Novinky
                        li.nav-item
                            a.nav-link(id="4-index-tab" data-toggle="tab" href="#4-index" role="tab" aria-controls="4-index" aria-selected="false") Nejprodávanější

                .tab-content
                    .tab-pane.fade.show.active(id="1-index" role="tabpanel" aria-labelledby="1-index-tab")            
                        .swiper-container-4-products-wrap     
                            .swiper-container-4-products
                                .swiper-wrapper
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug        
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                            .swiper-pagination.swiper-pagination-white
                            .swiper-button-prev.swiper-button-prev--4
                            .swiper-button-next.swiper-button-next--4

                    .tab-pane.fade(id="2-index" role="tabpanel" aria-labelledby="2-index-tab")    
                        .swiper-container-4-products-wrap     
                            .swiper-container-4-products
                                .swiper-wrapper
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug        
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                            .swiper-pagination.swiper-pagination-white
                            .swiper-button-prev.swiper-button-prev--4
                            .swiper-button-next.swiper-button-next--4

                    .tab-pane.fade(id="3-index" role="tabpanel" aria-labelledby="3-index-tab")    
                        .swiper-container-4-products-wrap     
                            .swiper-container-4-products
                                .swiper-wrapper
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug        
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                            .swiper-pagination.swiper-pagination-white
                            .swiper-button-prev.swiper-button-prev--4
                            .swiper-button-next.swiper-button-next--4

                    .tab-pane.fade(id="4-index" role="tabpanel" aria-labelledby="4-index-tab")    
                        .swiper-container-4-products-wrap     
                            .swiper-container-4-products
                                .swiper-wrapper
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug        
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                                    .swiper-slide
                                        include _single-product-cell.pug
                            .swiper-pagination.swiper-pagination-white
                            .swiper-button-prev.swiper-button-prev--4
                            .swiper-button-next.swiper-button-next--4



        section.index-about
            .container
                .row.index-about__row
                    .col-12.col-md-6
                        img.index-about__img(src=URLbase+"img/index-img.png" alt="O naší firmě" title="O naší firmě")
                    .col-12.col-md-6
                        h3.index-about__title O naší firmě
                        p.index-about__text Firma AC Energo s.r.o. vznikla v roce 2003 vyčleněním vývojového oddělení firmy Energo spol. s r.o. Obě firmy spolu nadále úzce spolupracují a navzájem se doplňují v oborech činností. Vzhledem k vysoké odborné úrovni a dlouholeté praxi našich pracovníků můžeme nabízet služby na profesionální úrovni jak v oblasti poradenské tak realizační.
                        .index-about__btn
                            a.btn(href="#") Více o nás
                            a.btn.btn-ghost.btn-ghost--light(href="#") Reference

        include _news-section.pug
        
        include _footer.pug

        include _js-include.pug

